:root {
  --morado: #7580E2;
  --morado-info: #5A5AFC;
  --amarillo: #FCF351;
  --naranja: #F89448;
  --rosado: #DDB9E2;
  --azul: #5EE6EB;
  --verde: #07D07B;
  --marino: #88E5CC;
  --blanco: #FFFFFF;
}

.morado {
  background-color: var(--morado);
}

.morado-info {
  background-color: var(--morado-info);
}

.amarillo {
  background-color: var(--amarillo);
}

.blanco {
  background-color: var(--blanco);
}

.naranja {
  background-color: var(--naranja);
}

.rosado {
  background-color: var(--rosado);
}

.azul {
  background-color: var(--azul);
}

.verde {
  background-color: var(--verde);
}

.marino {
  background-color: var(--marino);
}

body {
  width: 100%;
  margin: 0;
  font-family: "Arimo", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.45;
  color: black;
  scroll-behavior: smooth;
  min-height: 100vh;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 50px;
}

h3 {
  font-size: 25px;
  font-family: "Arimo", sans-serif;
  font-weight: bold;
  margin: 0;
}

/* bg */
.blog .bg-img,
.single .bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: top center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.single .bg-img {
  opacity: 0.5;
}

/* Titulo */
.blog h1,
.single h1 {
  text-align: center;
  font-family: "Sora", sans-serif;
  font-weight: bold;
  font-size: 52px;
  line-height: 1;
  padding: 20px;
  background-color: white;
  display: inline-block;
  margin: 50px 50px 50px 80px;
}

.site-branding a {
  color: black;
}



/* MENU */
.menu {
  text-transform: uppercase;
  font-family: "Sora", sans-serif;
  font-weight: 500;
  font-size: 16px;
  list-style: none;
  display: inline-block;
  position: fixed;
  bottom: 100px;
  left: 3%;
  padding: 10px;
  background-color: white;
  transform: translate(0, 50%) rotate(-90deg);
  transform-origin: 0% 0%;
}

.menu li {
  display: inline-block;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu li::after {
  content: "|";
  margin: 0 10px;
}

.menu li:last-child::after {
  content: "";
  margin: 0;
}

/* FIXED CIRCLE */
.fixed-circle {
  width: 40vmin;
  height: 40vmin;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.fixed-logo {
  width: 5vmin;
  height: auto;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* bootstrap edit */
@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
}

.col {
  padding: 0;
}

/* CARDS */
.cards {
  max-width: 80%;
  margin: 12vh auto 15vh auto;
}


.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.card-content a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.card-content p {
  max-width: 80%;
  margin: 1em 0;
}

.card-content {
  padding: 20px;
  position: relative;
  min-height: 250px;
}

 .card.telas {
  flex-direction: row;
} 

.card.residencia {
  margin-top: -10%
} 

.card.cartografia {
  margin-top: 80%
} 

.card.objetos {
  margin-top: 80%
} 

.card.cocina {
  margin-top: 100%
} 

/* FOOTER */
.site-info {
  min-height: 45px;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.site-info p {
  margin: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #959494;
}

/* SINGLE PAGE */
.content-container {
  width: 90%;
  min-height: 80vh;
  margin: 10vh 0 0 auto;
  padding: 80px 0 150px 0; 
  position: relative;
  overflow-x: hidden;
}

.content-container p {
  font-size: 20px;
  line-height: 1.5;
}

.content-container .small {
  margin-top: 40px;
}

.content-container .small,
.content-container .small p {
  font-size: 14px;
  line-height: 1.5;
}

.content-container.programacion p {
  margin-bottom: 50px;
}

/* TIPOGRAFIA */
@font-face {
  font-family: "Sora";
  src: url("../fonts/Sora/Sora-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Sora";
  src: url("../fonts/Sora/Sora-SemiBold.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Arimo";
  src: url("../fonts/Arimo/Arimo-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Arimo";
  src: url("../fonts/Arimo/Arimo-Bold.ttf") format("truetype");
  font-weight: bold;
}