:root {
  --extra-large: 1300px;
  --large: 1000px;
  --medium: 992px;
  --small: 768px;
  --extra-small: 550px;
}

@media (max-width: 1200px) {

  .menu {
    left: 2.5%
  }

  .cards {
    max-width: 85%;
    margin-top: 3vh;
  }

  .card.telas {
    flex-direction: column;
  }

  .card-container {
    padding: 20px;
  }

  .card.cartografia {
    margin-top: 40%;
  }

  .card.objetos {
    margin-top: 10%;
  }

  .card.cocina {
    margin-top: 35%;
  }

  .content-container {
    padding: 40px 40px 150px 40px;
  }

  .content-container.content-container-gente {
    padding-right: 0;
  }

  .content {
    margin-bottom: 5vh;
  }

  .antecedentes .content,
  .cartografia .content {
    position: relative;
    top: 0;
  } 

  .objetos .card.horizontal {
    flex-direction: column;
  }

  .objetos .card-container {
    transform: translate(0, 0) !important;
  }

  .objetos-container{
    display: flex;
    flex-wrap: wrap;
  }
  
  .objetos-container .card-container img {
    max-height: 250px;
    object-position: top center;
  }

  .objetos .card-container:nth-child(2) {
    margin-top: 3vh;
  }

  .objetos .card-container:nth-child(4) {
    margin-top: -3vh;
    margin-bottom: 2vh;
  }


}

@media (max-width: 992px) {
  .hide-on-small {
    display: none;
  }
  .show-on-small {
    display: block;
  }

}

@media (min-width: 992px) {
  .hide-on-small {
    display: block;
  }

  .show-on-small {
    display: none;
  }
}